groupName: acme.hetzner.com

certManager:
  namespace: cert-manager
  serviceAccountName: cert-manager

image:
  repository: docker.io/hetzner/cert-manager-webhook-hetzner
  tag: v0.6.0 # x-releaser-pleaser-version
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 443

metrics:
  serviceMonitor:
    enabled: true

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

podSecurityContext:
  runAsUser: 1000
  runAsGroup: 1000

containerSecurityContext:
  allowPrivilegeEscalation: false
