name: Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      # Git is used to push helm chart to hetznercloud/helm-charts
      - name: Setup Git
        run: |
          git config --global user.name hcloud-bot
          git config --global user.email github-bot@hetzner-cloud.de

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: "2.x"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          CHART_REPO_REMOTE: "https://${{ secrets.HCLOUD_BOT_TOKEN }}@github.com/hetznercloud/helm-charts"
